<p>This Administration site provided management and inspection tools for the service bus architecture</p>

<h1><a [routerLink]="'/healthcheck'">Healthcheck</a></h1>
<p>Report on the availability and health of bus-connected services</p>

<h1><a [routerLink]="'/messages'">Messages</a></h1>
<p>Search and inspect message history</p>

<h1><a [routerLink]="'/deadletters'">Dead Letters</a></h1>
<p>Failed messages will eventually be tranferred to dead letter queues. Use this screen to finde, view and resubmit these messages.</p>
